@import url("./base.css");

body.body--dark {
  --accent: #e6db74;
  --text: #fdfff1;
  --subtext1: #c0c1b5;
  --subtext0: #919288;
  --overlay1: #6e7066;
  --overlay0: #57584f;
  --surface0: #3b3c35;
  --base: #272822;
  --mantle: #1d1e19;
  --crust: #161613;

  --selection-bg: rgba(230, 219, 116, 0.25);
  --red: #f92672;
  --green: #a6e22e;
  --blue: #66d9ef;
}
