@import url("./base.css");

body.body--light {
  --accent: #f39c12;
  --text: #29242a;
  --subtext1: #706b6e;
  --subtext0: #918c8e;
  --overlay1: #a59fa0;
  --overlay0: #bfb9ba;
  --surface0: #ede7e5;
  --base: #faf4f2;
  --mantle: #e0dad9;
  --crust: #d3cdcc;

  --selection-bg: rgba(243, 156, 18, 0.2);
  --red: #e74c3c;
  --green: #27ae60;
  --blue: #3498db;
}
