@import url("./base.css");

body.body--light {
  --accent: #e14775;
  --text: #29242a;
  --subtext1: #706b6e;
  --subtext0: #918c8e;
  --overlay1: #a59fa0;
  --overlay0: #bfb9ba;
  --surface0: #d3cdcc;
  --base: #faf4f2;
  --mantle: #ede7e5;
  --crust: #d3cdcc;

  --selection-bg: rgba(225, 71, 117, 0.2);
  --red: #e14775;
  --green: #269d69;
  --blue: #1c8ca8;
}
