@import url("./base.css");

body.body--dark {
  --accent: #ffed72;
  --text: #f2fffc;
  --subtext1: #b8c4c3;
  --subtext0: #8b9798;
  --overlay1: #6b7678;
  --overlay0: #545f62;
  --surface0: #3a4449;
  --base: #273136;
  --mantle: #1d2528;
  --crust: #161b1e;

  --selection-bg: rgba(255, 237, 114, 0.25);
  --red: #ff6d7e;
  --green: #a2e57b;
  --blue: #7cd5f1;
}
