@import url("./base.css");

body.body--dark {
  --accent: #ffd76d;
  --text: #eaf2f1;
  --subtext1: #b2b9bd;
  --subtext0: #888d94;
  --overlay1: #696d77;
  --overlay0: #535763;
  --surface0: #3a3d4b;
  --base: #282a3a;
  --mantle: #1e1f2b;
  --crust: #161821;

  --selection-bg: rgba(255, 215, 109, 0.22);
  --red: #ff657a;
  --green: #bad761;
  --blue: #9cd1bb;
}
