@import url("./base.css");

body.body--dark {
  --accent: #ffd866;
  --text: #fcfcfa;
  --subtext1: #c1c0c0;
  --subtext0: #939293;
  --overlay1: #727072;
  --overlay0: #5b595c;
  --surface0: #403e41;
  --base: #2d2a2e;
  --mantle: #221f22;
  --crust: #19181a;

  --selection-bg: rgba(255, 216, 102, 0.25);
  --red: #ff6188;
  --green: #a9dc76;
  --blue: #78dce8;
}
