@import url("./base.css");

body.body--dark {
  --accent: #f9cc6c;
  --text: #fff1f3;
  --subtext1: #c3b7b8;
  --subtext0: #948a8b;
  --overlay1: #72696a;
  --overlay0: #5b5353;
  --surface0: #403838;
  --base: #2c2525;
  --mantle: #211c1c;
  --crust: #191515;

  --selection-bg: rgba(249, 204, 108, 0.22);
  --red: #fd6883;
  --green: #adda78;
  --blue: #85dacc;
}
