@import url("./base.css");

body.body--dark {
  --accent: #fce566;
  --text: #f7f1ff;
  --subtext1: #bab6c0;
  --subtext0: #8b888f;
  --overlay1: #69676c;
  --overlay0: #525053;
  --surface0: #363537;
  --base: #222222;
  --mantle: #191919;
  --crust: #131313;

  --selection-bg: rgba(252, 229, 102, 0.25);
  --red: #fc618d;
  --green: #7bd88f;
  --blue: #5ad4e6;
}
